$primary-color: #4d79ff;
$secondary-color: #ffe74b;
$third-color: #ff726f;
$grey-color: #3d3d3d;
$background-opacity: 0.9;
$home: url(../img/home.jpg);
$food: url(../img/food.jpg);
$drink: url(../img/drink.jpg);
$contact: url(../img/contact.jpg);

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color)> 40){
    @return #000;
  }@else{
    @return #fff;
  }
}