//Widescreens
@include mediaXl {
  .menu-nav {
    width: 100%;
    height: 10vh;
    flex-flow: row;
  }
  .nav-item {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .product-bar {
    grid-template-columns: auto auto auto auto;
  }

  #product-list {
    grid-template-columns: auto auto auto auto;
  }
}

//Desktops and Laptops
@include mediaLg {
  .menu-nav {
    width: 100%;
    height: 10vh;
    flex-flow: row;
  }
  .nav-item {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .product-bar {
    grid-template-columns: auto auto auto;
  }

  #product-list {
    grid-template-columns: auto auto auto auto;
  }
}

//Tablets and Small Laptops
@include mediaMd {
  .menu-nav {
    flex-flow: column wrap;
    width: 100%;
    height: 100vh;
  }
  .nav-item {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .product-bar {
    grid-template-columns: auto auto;
  }

  #product-list {
    grid-template-columns: auto auto;
  }
}

//Smartphones
@include mediaSm {
  .menu-nav {
    flex-flow: column wrap;
    width: 100%;
    height: 100vh;
  }
  .nav-item {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .product-bar {
    grid-template-columns: auto;
  }

  #product-list {
    grid-template-columns: auto auto;
  }
}
