@import "config";
@import "menu";

* {
  font-size: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  line-height: 1.5;

  // Section Manipulation

  section {
    min-height: 100%;

    // Home

    &#home {
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;

      h1 {
        font-size: 48px;
        color: #fff;
        margin-top: 10vh;
        margin-bottom: 0px;
        text-transform: uppercase;
        background-color: rgba($grey-color, $background-opacity);
      }

      h2 {
        font-size: 16px;
        color: #fff;
        margin-top: 0px;
        margin-bottom: 0px;
        text-transform: uppercase;
        background-color: rgba($grey-color, $background-opacity);
      }
    }

    // img#slideshow {
    //   width: 90vw;
    //   max-height: 60vh;
    //   object-fit: contain;
    //   filter: drop-shadow(0px 0px 1px rgba(0,0,0,.7))
    //   drop-shadow(0px 0px 10px rgba(0,0,0,.7));
    // }

    #arrow {
      // positions arrow at the bottom center of page
      position: absolute;
      left: 50%;
      bottom: 10px;
      transform: translate(-50%, -50%);
      margin: auto;

      img {
        width: 35px;
        height: 35px;

        &:hover {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: rgba($grey-color, $background-opacity);
          @include ease0ut;
        }
      }
    }

    // Food

    &#food {
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;

      .product-bar {
        width: 100%;
        background-color: rgba($grey-color, $background-opacity);
      }

      .dropdown {
        display: inline-block;

        &:hover .product-content {
          display: block;
          visibility: visible;
          opacity: 1;
          @include ease0ut;
        }
      }

      .category {
        border: none;
        padding: 0;
        font-size: 32px;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: rgba($grey-color, $background-opacity);
      }

      .product-content {
        display: none;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        float: left;
        box-shadow: 0px 8px 16px 0px rgba($grey-color, $background-opacity);
      }

      .product-category {
        font-weight: 400;
        font-size: 28px;
        color: #fff;
        display: block;
        margin-top: 0px;
        margin-bottom: 0px;
        text-transform: uppercase;
        background-color: rgba($grey-color, 0.9);

        &:hover {
          color: $third-color;
          @include ease0ut;
        }
      }
    }

    // Drink

    &#drink {
      top: 0;
      left: 0;
    }

    // Contact

    &#contact {
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
    }
  }

  // Background Image Manipulation

  .overlay {
    vertical-align: top;
    position: relative;
    background-size: cover;
    background-attachment: fixed; // Image position does not move even when scrolled
    background-position: 50%, 50%; // Uses the center of the image
  }

  .home {
    background-image: $home;
  }

  .food {
  }

  .drink {
    background-image: linear-gradient(
        rgba($primary-color, $background-opacity),
        rgba($primary-color, $background-opacity)
      ),
      $drink;
  }

  .contact {
    background-image: linear-gradient(
        rgba($grey-color, $background-opacity),
        rgba($grey-color, $background-opacity)
      ),
      $contact;
  }

  // Font Manipulation

  p {
    font-size: 16px;
  }

  ul {
    padding-left: 0;
  }
}

@import "mobile";
